body {
    font-family: Helvetica, sans-serif;
}

.sponsor {
    height:10vw;
    margin:5rem;
}

table, td {
    padding:2rem;
    border: 1px solid grey;
}

#back {
    position:absolute;
    filter: contrast(2);
    filter: brightness(2);
    left:0;
    z-index: -1;
    width:100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0;
    background-image: url("irhs9.JPG");
    opacity: .7;
}

a {
    color: #2196F3;
}

a:hover {
    color: #1976D2;
}

h1 {
    font-weight:700;
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

.navbar {
    padding:1rem;
    background-color: white;
    border-bottom: 2px solid #2196F3;
    font-size: 1.5rem;
}

hr {
    border: 1px solid #BBDEFB;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #2196F3;
    padding:2rem;
    border-bottom: 2px solid transparent;
    -webkit-transition:.5s;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid #2196F3;
    color: #2196F3;
}

.btn, .btn:visited {
    border-radius: .3rem;
    border-color: #1976D2;
    background-color: #2196F3;
}

.btn:hover {
    border-color: #0D47A1;
    background-color: #1976D2;
}

.jumbotron {
    background-color: rgba(33,150,243, .2);
    padding-top:15rem;
}

.page-header {
    padding-left:3rem;
}

section:not(#hero) {
    padding:5rem 10rem;
    margin:0;
}

@media screen and (max-width:770px) {
    #back {
        display: none;
    }
    .sponsor {
        margin:3rem;
    }
    #hero {
        position: relative;
    }
    section:not(#hero) {
        padding:2rem;
    }
    #tree {
        display:none;
    }
    .btn {
        width:100%;
        margin-top:20px;
    }
}

footer {
    padding:7rem;
    opacity: .7;
}

#tree {
    height:35vw;
    margin-right: 4vw;
}

#down {
    opacity: .8;
    font-size: 100px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2196F3;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #BBDEFB;
}
