body {
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

.navbar {
    padding:1rem;
    font-size: 1.5rem;
}

.btn {
    border-radius: .3rem;
}

.jumbotron {
    padding:20rem;
    height:100vh;
}

.page-header {
    padding-left:3rem;
}

section:not(#hero) {
    padding:10rem 20rem;

}
